<article class="MenuPage" >
  <h1 class="MenuPageTitle">MENU</h1>

  <div class="MenuContent">
    <% if @current_user.role=="owner"%>
      <div>
        <%= render partial: "dash-section"%>
          <img src="https://images.unsplash.com/photo-1540189549336-e6e99c3679fe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80" class= "MenuContent-image"/>
          <img src="https://images.unsplash.com/photo-1543857778-c4a1a3e0b2eb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class= "MenuContent-image"/>

           </div>
    <%else%>
    <div>
      <%= image_tag 'https://images.unsplash.com/photo-1540189549336-e6e99c3679fe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80',class: "MenuContent-image" %>
<img src="https://images.unsplash.com/photo-1543857778-c4a1a3e0b2eb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class= "MenuContent-image"/>

</div>
    <% end%>
    <div>
      <% @menu.each do |menu| %>
        <div class="Menu">

            <%= render partial: "menu-section" ,locals:{id: menu.id,  section_title: menu.menu_name , menu_items: MenuItem.menu_items(menu.id) }%>

        </div>
      <% end %>
      <%= button_to "Go to Cart","/cart_items",method: "get",class: "CartButton cart_view"%>
    </div>
  </div>
</article>
