
<h1 class="Admin-title">ADMIN</h1>
<div class="Dash-items">
<%= render partial: "dash-section"%>
<table class="OrderCart">

	<thead>
	<tr>
		<th>S No.</th>
		<th>Date</th>
		<th>Order-Id</th>
		<th>Amount</th>
		<th>Status</th>
	<th>Action</th>
	</tr>
	</thead>
	<tbody>
	<% if @orders %>
		 <%= render partial: "row-section" , locals: { orders: @orders.not_delivered ,status: "Delivered",style: "OrderStatus UnDeliver_button",state: true}%>
		 <tr>
		 <th>
		 <p>Completed Orders</p></tr>
		 </th>
		 <%= render partial: "row-section" , locals: { orders: @orders.delivered ,status: "Not Delivered",style: "OrderStatus",state: nil}%>
		 <% end%>
		 	</tbody>
</table>


</div>
