<h1 class="MenuPageTitle">My account</h1>
  <section class="Account">
    <ul>
    <div class="Details-item">
        <label class="Details-label">Account Id :</label>
        <input class="Details-input",name="User_name" value="EATUP<%= @user.id %>" disabled>
      </div>
      <li class="Details-item">
        <label class="Details-label">User Name :</label>
        <input class="Details-input",name="User_name" value="<%= @user.first_name%>" disabled>
      </li>

      <li class="Details-item">
        <label class="Details-label">Contact no :</label>
        <input class="Details-input",name="User_mobile" value="9550373013">
      </li>
      <li class="Details-item">
        <label class="Details-label">Mail ID :</label>
        <input class="Details-input",name="User_mail"  value="<%= @user.email %>" disabled>
      </li>

    </ul>
  </section>
  <% if @user.role.eql?("owner")%>
<%= button_to "Admin","/admin",method: "get",class: "CartButton cart_view"%>
<% end%>
