.Dash-button {
  background-color: transparent;
  border: none;
  color: #ffffff;
  padding: 15px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: sans-serif;
  width: 300px;
}

.Dash {
  background-color: brown;
  width: 300px;
}

.Dash-button:hover {
  background-color: darkred;
}

.Admin-title {
  line-height: 2;
  font-size: 30px;
  background-color: darkred;
  width: 280px;
  padding: 5px 618px;
  color: white;
  font-family: auto;
}

.Dash-items {
  display: flex;
}

.ManageMenu {
  background-color: bisque;
  border-radius: 10px;
  padding: 30px;
  margin: 50px 0px 50px 300px;
  width: 350px;
}

.ManageMenu-section {
  display: block;
}

.DashBoard {
  width: max-content;
  display: flex;
  padding: 30px;
  margin: 30px 100px;
}

.DashBoard-section {
  height: 50px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5da;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  margin-right: 50px;
}

.DashBoard-container {
  height: 300px;
}

.DashBoard-section-title {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
  padding: 5px;
  color: darkred;
}

.Invoice-date {
  margin-top: 20px;
  display: flex;
  align-items: baseline;
  margin-left: 350px;
}

.Invoice-section {
  width: 1210px;
}

.Date {
  background: #FFFFFF;
  border: 1px solid #BFB8CC;
  border-radius: 4px;
  color: #726A7E;
  margin-right: 11px;
  padding: 2px 2px;
}
