
.Dash-button{

  background-color:transparent;
  border: none;
  color: #ffffff;
  padding: 15px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
	font-size: 16px;
  font-family: sans-serif;
  width: 300px;
}
.Dash{

  background-color: brown ;

  width: 300px;
}
.Dash-button:hover{
    background-color: darkred;
}

.Admin-title{
  line-height: 2;
  font-size: 30px;
  background-color:darkred;
  padding-left: 705px;
  padding-right: 705px;
  color:white;
}
.Dash-items{
  display: flex;
  height: 600px;
}
.ManageMenu{
height: 200px;
background-color: antiquewhite;
border-radius: 10px;
padding: 30px;
margin: 50px 300px;

}
.ManageMenu-section{
display: block;
margin: 10px 5px;
}
.MenuItemp{
  display: block;
}
