.MenuPageTitle {
  line-height: 2;
  font-size: 30px;
  background-color: #ccdada;
  padding: 0px 610px;
  border-style: solid;
  border-width: 4px;
  border-color: darkslategrey;
}

.MenuSection {
}

.MenuSection-title {
  margin-right: 10px;
  font-size: 45px;
  color: chocolate;
  font-family: cursive;
}

.MenuItem {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 10px;
}

.MenuItem-list {
  padding: 5px;
  font-size: 20px;
  margin: 10px;
  width: 362px;
}

.MenuItem-container {
  padding: 5px;
  align-items: center;
}

.Menu {
  display: flex;
}

.MenuItem-price {
  margin: auto 15px;
  font-size: inherit;
  color: darkred;
}

.MenuItem-quantity {
  background-color: white;
  padding-left: 10px;
  border: none;
  height: 25px;
  width: 30px;
}

.MenuSection-header {
  display: flex;
  align-items: first baseline;
  margin-left: 500px;
}

.MenuBar-button {
  font-family: sans-serif;
  background-color: darkslategray;
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  width: 120px;
}

.MenuBar-button:hover {
  background-color: #253c3c;
}

.MenuBar {
  display: flex;
}

.MenuItem-list:hover {
  background-color: aliceblue;
  padding: 4.2px;
  border-radius: 10px;
  box-shadow: 0px 1px 5px rgb(141, 141, 240);
}

.MenuItem-list:hover .AddButton {
  visibility: visible;
}

.MenuContent {
  display: flex;
}

.MenuContent-image {
  height: 700px;
  width: 300px;
  display: flex;
}

.AddButton {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 16px;
  margin: 4px 0px;
  cursor: pointer;
}

.CounterButton-plus {
  border: none;
  height: 25px;
  width: 30px;
  background-color: aquamarine;
}

.CounterButton-minus {
  border: none;
  height: 25px;
  width: 30px;
  background-color: lightgray;
  margin-left: 50px;
}

.MenuItem-image {
  align-content: center;
  margin-bottom: 5px;
  border-radius: 12px;
  height: 180px;
  width: 350px;
}

.MenuItem-content {
  margin-left: 24px;
}

.MenuItem-name {
  padding: 5px;
  font-weight: bold;
  justify-content: space-between;
  display: flex;
  color: darkblue;
}

.MenuItem-manipulate {
  font-size: medium;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.MenuItem-description {
  font-size: 14px;
  width: 180px;
  display: flex;
  color: #6b5a5a;
  line-height: 1.2;
  font-style: oblique;
  font-family: cursive;
}

.EditButton {
  background-color: tomato;
}

.DeleteButton {
  background-color: #7b497b;
}

.scroll {
  padding: 5px;
  background-color: #ccc;
  font-weight: bold;
}
