.MenuPageTitle {
  line-height: 2;
  font-size: 30px;
  background-color: bisque;
  padding: 0px 610px;
  border-style: solid;
  border-width: 4px;
  border-color: darkred;
}

.MenuSection {

}

.MenuSection-title {
  margin-right: 10px;
  font-size: 45px;
  color: chocolate;
  font-family: cursive;
}

.MenuItem {

  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;

  padding: 10px;
}

.MenuItem-list {
  padding: 5px;
  font-size: 20px;
  margin: 10px;
  width: 362px;
}

.MenuItem-container {

  padding: 5px;
  align-items: center;
}

.Menu {
  display: flex;
}

.MenuItem-price {
  margin: auto 15px;
  font-size: inherit;
  color: darkred;

}

.MenuItem-quantity {
  background-color: white;
  padding-left: 10px;
  border: none;
  height: 25px;
  width: 30px;
}

.MenuSection-header {
  display: flex;
  align-items: first baseline;
  margin-left: 500px;
  margin-top: 20px;
}

.MenuBar-button {
  font-family: sans-serif;
  background-color: brown;
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  width: 120px;
}

.MenuBar-button:hover {
  background-color: darkred;
}

.MenuBar {
  display: flex;
  background-color: linen;
}

.MenuItem-list:hover {
 background-color: aliceblue;
 padding: 4.2px;
 border-radius: 10px;

}

.MenuItem-list:hover .AddButton {
  visibility: visible;
}

.MenuContent {
  display: flex;
}

.MenuContent-image {
  height: 700px;
  width: 300px;
}

.AddButton {

  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 16px;
  margin: 4px 2px;
  margin-left: 15px;
  cursor: pointer;
}

.CounterButton-plus {
  border: none;
  height: 25px;
  width: 30px;
  background-color: aquamarine;
}

.CounterButton-minus {
  border: none;
  height: 25px;
  width: 30px;
  background-color: lightgray;
  margin-left: 50px;
}
.MenuItem-image {
  align-content: center;
margin-bottom: 5px;
  border-radius: 12px;
  height: 180px;
width: 350px;
}
.MenuItem-content {
  margin-left: 24px;
}
.MenuItem-name {
  padding: 5px;

 justify-content: space-between;
  display: flex;
  color: darkblue;
}
.MenuItemDescription {
  font-size: 13px;
  margin-bottom: 5px;
  display: inline;
}
.MenuItem-manipulate {
  font-size: medium;
  display: inline-flex;
align-items: center;
  justify-content: space-around;
}
.MenuItem-description{
  font-size: 14px;
  margin-left: 14px;
  display: flex;
width: 162px;
}
.EditButton{
  background-color: darkred;
}
.TrashButton{
  background-color: #7b497b;
}
