.MenuPageTitle {
  line-height: 2;
  font-size: 30px;
  background-color: bisque;
  padding: 0px 610px;
  border-style: solid;
  border-width: 4px;
  border-color: darkred;
}

.MenuSection {
  padding: 20px;
  width: 500px;
  margin: 30px;
}

.MenuSection-title {
  margin-right: 10px;
  font-size: 35px;
  color: chocolate;
}

.MenuItem {
  list-style: decimal;
  margin-left: 40px;
}

.MenuItem-list {
  padding: 5px;
  font-size: 20px;
}

.MenuItem-container {
  display: inline-flex;
  padding: 5px;
  align-items: center;
}

.Menu {
  display: flex;
}

.MenuItem-price {
  margin: auto 15px;
  font-size: 16px;
  color: darkblue;
  padding: 4px;
}

.MenuItem-quantity {
  background-color: white;
  padding-left: 10px;
  border: none;
  height: 25px;
  width: 30px;
}

.MenuSection-header {
  display: flex;
  align-items: first baseline;
}

.MenuBar-button {
  font-family: sans-serif;
  background-color: brown;
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  width: 120px;
}

.MenuBar-button:hover {
  background-color: darkred;
}

.MenuBar {
  display: flex;
  background-color: linen;
}

.MenuItem-list:hover {
  background-color: rgb(194, 243, 243);
}

.MenuItem-list:hover .AddButton {
  visibility: visible;
}

.MenuContent {
  display: flex;
}

.MenuContent-image {
  height: 700px;
  width: 300px;
}

.AddButton {
  visibility: hidden;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 16px;
  margin: 4px 2px;
  margin-left: 15px;
  cursor: pointer;
}

.CounterButton-plus {
  border: none;
  height: 25px;
  width: 30px;
  background-color: aquamarine;
}

.CounterButton-minus {
  border: none;
  height: 25px;
  width: 30px;
  background-color: lightgray;
}
