.OrderCart {

  padding:5px;
  width: 60%;
margin:10px auto;
}
.OrderCart th {
  border:1px solid #C0C0C0;
  padding:5px;
  background: rgb(165, 208, 235);
  font-size: 20px;

font-weight: bold;
}
.OrderCart td {
  border:1px solid #C0C0C0;
  padding:5px;
}

.OrderButton{
  background-color: forestgreen;
  color: white;
  margin-left: 1050px;
  border: none;
  padding: 14px 20px;
  border-radius: 4px;
}
.OrderDetails{
  display: flex;
  margin: 50px 500px;
padding: 10px;
  align-items: baseline;
}
.OrderType{
font-size: 18px;
display: flex;
margin-right:50px ;
color: black;
}
.OrderType-label{
  font-weight: initial;

font-size: 20px;
}
.OrderDetails-title{
  font-weight: bold;
  font-size: 18px;
  padding: 5px;
}
.OrderBanner{
  margin-top: 20px;
  margin-left: 320px;
  width: 800px;
  height: 80px;
}
.Collapse{
  margin-left: 1100px;
  padding: 10px;
  background-color: darkred;
}
.Collapse:hover{
  background-color: rgb(170, 23, 23);
}
.OrderStatus{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 7px 16px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.UnDeliver_button{
  background-color: #f44336;
}
