.NewUsersPage {
  font-family: sans-serif;
  margin-top: 28px;
  padding: 20px;
  background-color: antiquewhite;
  border-radius: 10px;
}

.User-credentials {
  font-size: 25px;
  width: 260px;
  padding: 5px 178px;
  margin: 10px 0px;
}

.NewUsers-title {
  font-size: 35px;
  padding-bottom: 25px;
  color: darkblue;
}

.Form-section-label {
  font-size: 20px;
  padding-bottom: 5px;
}

.Form-section {
  padding-bottom: 12px;
}

.Form-section-authenticate {
  padding-bottom: 15px;
  display: flex;
}

.Form-section-input {
  width: 100%;
  padding: 8px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.Form-section-submit {
  background-color: #4CAF50;
  color: white;
  padding: 8px 15px;
  border-radius: 4px;
  border: none;

}

.Gender-options {
  display: flex;
}

.Account {
  background-color: antiquewhite;
  margin: 80px 500px;
  padding: 30px;
  border-radius: 18px;
}

.Details-label {
  display: inline-block;
  width: 180px;
  color: brown;
  font-weight: bold;
  font-size: 20px;
}

.Details-input {
  font-size: 18px;
  border-radius: 4px;
  padding: 2px 8px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.Details-item {
  margin-top: 20px;
  display: flex;
  align-items: baseline;
}

.Flash-error {
  font-family: sans-serif;
  border-radius: 5px;
  font-size: 20px;
  margin: auto;
  width: max-content;
  padding: 10px 20px;
  background-color: #f44336;
  color: white;
}

.Flash-notice {
  background-color: #4CAF50;
  font-family: sans-serif;
  border-radius: 5px;
  font-size: 20px;
  margin: 0px;
  height: 25px;
  width: max-content;
  padding: 10px 20px;
  color: white;
}
